!!! 5
%html
  %head
    %link{:rel => "stylesheet", :href => "styl.css"}
    %script{:src => "jquery-1.6.1.min.js"}

  %body
    %a{:href => "/clear"} Clear logs
    %hr

    %ul
      - @logs.each do |log|
        %li= log.gsub(/_/, " ")
